.speech {
    font-family: "Times New Roman", serif;
    font-size: 1.0em;
    color: black;
}
.song {
    font-family: "Arial", sans-serif;
    font-size: 1.0em;
    color: black;
}
.direction {
    font-family: "Courier New", monospace;
    font-size: 1.1em;
    color: black;
    font-weight: bold;
}
.direction:hover {
    background-color: #add8e6;
}

.name {
    font-family: "Verdana", sans-serif;
    font-size: 1.1em;
    color: black;
    font-weight: bold;
}
.name:hover{
       text-shadow:2px 3px 5px green;
       border: 5px solid blue;
}
.LUD{
 color: blue;
}
.JULIA{
 color: red;
}
.aside{
 color: green;
}
.aloud{
color:orange
}
.table.collapsing {
border: solid 3px blue ;
border-collapse: collapse;
margin: 30px auto;
}

.td, .th {
    border: 1px solid black;
    text-align: center;
     padding: 10px;
}
.td {
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
}
